* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  width: 100vw;
  height: 100vh;
  padding: 0px;
  margin: 0px;
}
.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 2.5rem;
  background-color: rgb(136, 196, 136);
  padding-right: 20px;
  padding-left: 20px;
}
.LeftNavbar img {
  height: 2.3rem;
}
.RightNavbar {
  display: flex;
}
.About {
  padding-right: 30px;
  visibility: hidden;
}
.Work {
  padding-right: 30px;
  visibility: hidden;
}
.BurgerMenu {
  display: flex;
  flex-direction: column;
}
.Row {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 1px;
}
.Hero {
  width: 100%;
  height: 300px;
  background-color: black;
}
.HeroPic {
  position: relative;
  text-align: center;
  color: white;
}
.HeroPic img {
  width: 100%;
  height: 300px;
  opacity: 0.5;
  object-fit: fill;
}
.Company {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  -webkit-text-stroke: 0.5px black;
  text-decoration: underline floralwhite;
  font-family: sans-serif;
}
.Slogan {
  position: absolute;
  width: 100%;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  -webkit-text-stroke: 0.5px black;
  font-family: sans-serif;
}
.article {
  display: flex;
  flex-direction: column;
  /* margin: 0px;
  width: 100%;*/
  /* height: 300px; */
  /* background-color: purple; */
  /* display: none; */
}
.firstValueWord {
  width: 100vw;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(60, 120, 168);
  padding: 30px 70px 30px 85px;
  font-family: sans-serif;
  color: white;
}
.secondValueWord {
  width: 100vw;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(136, 196, 136);
  padding: 30px 70px 30px 85px;
  font-family: sans-serif;
  color: white;
}
.thirdValueWord {
  width: 100vw;
  height: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(60, 120, 168);
  padding: 30px 70px 30px 85px;
  font-family: sans-serif;
  color: white;
}
.article p {
  font-family: 'futura_ltbook';
}
.Main {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  width: 100%;
  height: 900px;
  padding: 20px 0px 20px 0px;
}
.Message {
  height: 700px;
  display: flex;
  flex-direction: column;
}
.Message p {
  padding: 115px 50px 50px 120px;
  font-family: 'futura_ltbook';
  position: absolute;
}
.Message h3 {
  font-size: 35px;
  padding-top: 25px;
  padding-left: 20px;
  text-transform: uppercase;
  color: rgb(136, 196, 136);
  -webkit-text-stroke: 1px black;
  font-family: sans-serif;
}
.Form {
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Form h3 {
  padding: 0 70px 0 20px;
  font-size: 35px;
  text-transform: uppercase;
  color: rgb(136, 196, 136);
  -webkit-text-stroke: 1px black;
  font-family: sans-serif;
}
.selectForm {
  width: 100%;
  padding-left: 20px;
  /* display: flex;
  justify-content: center; */
}
form select:focus {
  outline: none;
  border: 2px solid rgb(136, 196, 136);
}
label {
  font-family: 'futura_ltbook';
}
select {
  width: 300px;
  font-family: 'futura_ltbook';
  font-size: 17px;
  border-radius: 50px;
  height: 40px;
}
input {
  width: 150px;
  font-family: 'futura_ltbook';
  font-size: 15px;
  border-radius: 50px;
  height: 40px;
  background-color: rgb(136, 196, 136);
}
.Reference {
  width: 100%;
  height: 900px;
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 50px;
}
.Quote {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'futura_ltbook';
  font-size: small;
}
.Review {
  width: 100%;
  height: 250px;
  display: flex;
  background-color: white;
}
.Review p {
  align-self: flex-end;
  padding-left: 20px;
}
span {
  padding-left: 65px;
}

.Photo {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Photo img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center;
  border-radius: 5%;
  filter: grayscale(100%);
}
footer {
  width: 100vw;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(136, 196, 136);
  position: absolute;
  font-family: 'futura_ltbook';
}
.date {
  width: 100%;
  font-size: 13px;
  /* padding-left: 25px; */
  display: flex;
  justify-content: center;
}
.icon {
  width: 70px;
  height: 40px;
  flex-direction: row;
}
.icon img {
  width: 30px;
}

@media screen and (min-width: 768px) {
  body {
    width: 100vw;
    height: 100vw;
    margin: 0px;
    padding: 0px;
  }
  .Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 3.5rem;
    background-color: rgb(136, 196, 136);
    padding-right: 20px;
    padding-left: 20px;
  }
  .LeftNavbar img {
    height: 3.3rem;
  }
  .Hero {
    width: 100%;
    height: 500px;
    background-color: black;
  }
  .HeroPic {
    position: relative;
    text-align: center;
    /* color: white; */
    color: tomato;
  }
  .HeroPic img {
    width: 100%;
    height: 500px;
    opacity: 0.5;
    object-fit: cover;
  }
  .Company {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    -webkit-text-stroke: 0.5px black;
    text-decoration: underline floralwhite;
    font-family: sans-serif;
    font-size: 35px;
  }
  .Slogan {
    position: absolute;
    width: 100%;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    -webkit-text-stroke: 0.5px black;
    font-family: sans-serif;
    font-size: 25px;
  }
  .article {
    display: flex;
    flex-direction: row;
    margin: 0px;
    width: 100%;
    height: 300px;
    background-color: purple;
    /* display: none; */
  }
  .firstValueWord {
    width: 100vw;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(60, 120, 168);
    padding: 30px 20px 30px 20px;
    font-family: sans-serif;
    color: white;
  }
  .secondValueWord {
    width: 100vw;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(136, 196, 136);
    padding: 30px 20px 30px 20px;
    font-family: sans-serif;
    color: white;
  }
  .thirdValueWord {
    width: 100vw;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(60, 120, 168);
    padding: 30px 20px 30px 20px;
    font-family: sans-serif;
    color: white;
  }
  .article p {
    font-family: 'futura_ltbook';
  }
  .Main {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    width: 100%;
    height: 900px;
    padding-top: 40px;
    padding-left: 50px;
  }
  .Message {
    height: 700px;
    display: flex;
    flex-direction: column;
  }
  .Message p {
    padding: 135px 120px 0px 140px;
    font-family: 'futura_ltbook';
    position: absolute;
  }
  .Message h3 {
    font-size: 45px;
    padding-top: 25px;
    padding-left: 30px;
    text-transform: uppercase;
    color: rgb(136, 196, 136);
    -webkit-text-stroke: 1px black;
    font-family: sans-serif;
  }
  .Form {
    height: 700px;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    align-items: center;
  }
  .Form h3 {
    padding: 150px 330px 50px 30px;
    font-size: 45px;
    text-transform: uppercase;
    color: rgb(136, 196, 136);
    -webkit-text-stroke: 1px black;
    font-family: sans-serif;
  }
  .selectForm {
    width: 100%;
    padding-left: 30px;
    padding-bottom: 50px;
    /* display: flex;
    justify-content: center; */
  }
  form select:focus {
    outline: none;
    border: 3px solid rgb(136, 196, 136);
  }
  label {
    font-family: 'futura_ltbook';
  }
  select {
    width: 300px;
    font-family: 'futura_ltbook';
    font-size: 17px;
    border-radius: 50px;
    height: 40px;
  }
  input {
    width: 150px;
    font-family: 'futura_ltbook';
    font-size: 15px;
    border-radius: 50px;
    height: 40px;
    background-color: rgb(136, 196, 136);
  }
  .Reference {
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    /* justify-content: space-between; */
  }
  .Quote {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    font-family: 'futura_ltbook';
    font-size: large;
  }
  .Review {
    width: 100%;
    height: 100%;
    /* display: flex; */
    display: inline;
  }
  .Review p {
    padding: 0 20px 0 20px;
    vertical-align: top;
  }
  span {
    padding-left: 100px;
    font-size: small;
  }

  .Photo {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .Photo img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: center;
    border-radius: 5%;
    filter: grayscale(100%);
  }
  footer {
    width: 100vw;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(136, 196, 136);
    position: absolute;
    font-family: 'futura_ltbook';
  }
  .date {
    width: 100%;
    font-size: 17px;
    display: flex;
    justify-content: center;
  }
  .icon {
    width: 90px;
    height: 50px;
    display: flex;
  }
  .icon img {
    width: 40px;
  }
}

@media screen and (min-width: 1024px) {
  body {
    width: 100vw;
    height: 100vw;
    margin: 0px;
    padding: 0px;
  }
  .Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4rem;
    background-color: rgb(136, 196, 136);
    padding-right: 20px;
    padding-left: 20px;
  }
  .LeftNavbar img {
    height: 3rem;
  }
  .RightNavbar {
    display: flex;
  }
  .About {
    font-size: 30px;
    padding-right: 30px;
    visibility: visible;
    font-family: 'futura_ltbook';
  }
  .Work {
    font-size: 30px;
    padding-right: 30px;
    visibility: visible;
    font-family: 'futura_ltbook';
  }
  .BurgerMenu {
    display: flex;
    flex-direction: column;
    visibility: hidden;
  }
  .Hero {
    width: 100%;
    height: 600px;
    background-color: black;
  }
  .HeroPic {
    position: relative;
    text-align: center;
    color: white;
  }

  .HeroPic img {
    width: 100%;
    height: 600px;
    opacity: 0.5;
    object-fit: cover;
    object-position: bottom;
  }
  .Company {
    position: absolute;
    width: 100%;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    -webkit-text-stroke: 0.5px black;
    font-size: 50px;
    text-decoration: underline white;
    font-family: sans-serif;
  }
  .Slogan {
    position: absolute;
    width: 100%;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    -webkit-text-stroke: 0.5px black;
  }
  .Slogan p {
    font-family: sans-serif;
    font-size: 40px;
  }
  .article {
    display: flex;
    flex-direction: row;
    margin: 0px;
    width: 100%;
    height: 300px;
  }
  svg {
    display: flex;
    margin-top: 0px;
  }
  .firstValueWord {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(60, 120, 168);
    padding: 50px 60px 30px 60px;
  }
  .secondValueWord {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(136, 196, 136);
    padding: 40px 60px 30px 60px;
  }
  .thirdValueWord {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(60, 120, 168);
    padding: 50px 60px 30px 60px;
  }
  p {
    font-family: 'futura_ltbook';
  }
  .Main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1000px;
  }
  .Message {
    width: 100%;
    height: 400px;
    display: flex;
    background-color: rgb(60, 120, 168);
    border-radius: 50px 0 0 50px;
    border-left: solid rgb(136, 196, 136) 6px;
    border-bottom: solid rgb(136, 196, 136) 6px;
  }
  .Message p {
    font-size: large;
    padding-top: 180px;
    padding-left: 200px;
    padding-right: 190px;
    color: white;
  }
  .Message h3 {
    font-size: 65px;
    text-transform: uppercase;
    color: rgb(136, 196, 136);
    -webkit-text-stroke: 1px black;
    font-family: sans-serif;
    font-weight: 800;
  }
  .Form {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
  }
  .Form h3 {
    font-size: 65px;
    text-transform: uppercase;
    color: rgb(136, 196, 136);
    -webkit-text-stroke: 1px black;
    font-family: sans-serif;
    font-weight: 800;
    padding: 30px;
  }

  .selectForm {
    width: 60%;
    display: flex;
    justify-content: center;
    padding-right: 40px;
  }
  form select:focus {
    outline: none;
    border: 2px solid rgb(136, 196, 136);
  }
  label {
    font-family: 'futura_ltbook';
  }
  select {
    width: 400px;
    font-family: 'futura_ltbook';
    font-size: 17px;
    border-radius: 50px;
    height: 40px;
  }
  input {
    width: 400px;
    font-family: 'futura_ltbook';
    font-size: 15px;
    border-radius: 50px;
    height: 40px;
  }
  .Reference {
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    /* justify-content: space-between; */
  }
  .Quote {
    width: 100%;
    height: 200px;
    padding: 0 100px 0 100px;
    display: flex;
    flex-direction: row;
    font-family: 'futura_ltbook';
    font-size: large;
  }
  .Review {
    width: 250px;
    height: 100%;
    display: inline;
  }
  .Review p {
    padding: 0 20px 0 20px;
    vertical-align: top;
  }
  span {
    padding-left: 100px;
    font-size: small;
  }

  .Photo {
    width: 100%;
    padding: 0 100px 0 100px;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
  }
  .Photo img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: center;
    border-radius: 5%;
    filter: grayscale(100%);
  }

  footer {
    width: 100vw;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(136, 196, 136);
    position: absolute;
    font-family: 'futura_ltbook';
  }
  .date {
    width: 100%;
    font-size: 20px;
    display: flex;
    justify-content: center;
  }
  .icon {
    width: 90px;
    height: 50px;
    display: flex;
    justify-content: center;
  }
  .icon img {
    width: 40px;
  }
}
